/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #FF565E;
    --secondary-color: black;
    --third-color: #e2e2e2;
    --text-name-color: #959595;
}

@font-face {
    font-family: 'CarnasW03';
    src: url('assets/fonts/CarnasW03-Regular.woff') format('woff');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'CarnasW03';
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

.p-tabmenu-nav {
    display: inline-flex;
    border-width: 0px !important;
}

.p-tabmenu-nav-container {
    text-align: center;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    background: #ffffff
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    padding: 1.05rem 3.25rem;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
    height: 3px;
    background-color: #000000;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: #000000;
}

.p-tabview-nav {
    justify-content: center;
    background: #ffffff !important;
    border-width: 0px !important;
}

.p-tabview-nav-container {
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 1.75rem 3.25rem;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
    height: 3px;
    background-color: #000000;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #000000;
}

.p-tabview .p-tabview-panels {
    background: transparent;
}

input {
    height: 35px;
}

.p-card .p-card-content {
    padding: 0 !important;
}

.p-inputtext {
    margin: 0;
    height: 35px;
    border: 1px solid #b8b8b8 !important;
}

.card-content span {
    font-size: 12px !important;
}

.p-card {
    border-radius: 10px !important;
}

.p-tabmenu .p-tabmenu-nav {
    width: 100%;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:first-child {
    background-image: url("../../demo-courier/src/assets/img/Raster.png") !important;
    background-repeat: no-repeat !important; /* Para evitar que se repita la imagen */
    background-size: cover !important;
    padding-right: 35px !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem a {
    color: white !important;
}

.p-element:not(input, button) {
    background-color: transparent !important;
    border: 1px #E5E9F2 !important;
}

.p-element:nth-child(4) {
    background-color: #E5E9F2 !important;
}

.p-element:nth-child(4) a span{
    color: #47525E !important;
}

li:first-child img {
    outline: 2px solid var(--primary-color);
}

.p-tabmenu-nav-container {
    background: transparent !important;
    box-shadow: none !important;
}

.p-tabmenu-nav-container ul {
    background-color: transparent !important;
    background: transparent !important;
}

body {
    background-image: url("../../demo-courier/src/assets/img/image.png") !important;
    background-size: 100% !important;
}

.p-card {
    background: #ffffffbe !important;
    border: 0.5px solid #F0445E !important;
}

.p-card-body {
    margin: 0px !important;
    padding: 0px !important;
}

// Buttons

.b-primary {
    background-color: var(--primary-color) !important;
    border-radius: 100px;
}

.b-transparent {
    background-color: transparent !important;
    color: #000000 !important;
    border: 2px solid !important;
    border-radius: 100px;
}

.b-secondary {
    background-color: #FF1D531F !important;
    color: #FF1D53 !important;
    border: 1px solid !important;
    border-radius: 100px;
}

.b-third {
    background-color: #FF1D53 !important;
    color: #FFFFFF !important;
    border: 1px solid !important;
    border-radius: 100px;
}

.b-black {
    background-color: #000000 !important;
    color: #ffffff !important;
    border-radius: 100px;
}

.b-white-pink {
    background-color: #FFFFFF !important;
    color: #FF1D53 !important;
    border: 1px solid #FF1D53 !important;
    border-radius: 100px;
}



