:host ::ng-deep {
    .p-card {
        padding-left: 0px;
    }
}
.ruta-main > span {
    padding-right: 50px;
}
.ruta-child {
    padding-right: 20px;
}

.ruta-child {
    padding-left: 50px;
}

.ruta-child > p-calendar {
   width: 190px;
}