.ruta-main > span {
    padding-right: 50px;
}
.ruta-child {
    padding-right: 20px;
}

.ruta-child {
    padding-left: 50px;
}

.ruta-child > p-calendar {
   width: 190px;
}

.b-primary {
    background-color: var(--primary-color) !important;
    border-radius: 100px; 
}
.position-icon {
    right: 58px;
}

.position-input {
    right: 98px;
}

.position-manifiesto {
    right: 68px;
}