<div class="main" *ngIf="isVisibleForm">

    <!--CABECERA-->
    <nav>
        <p-tabMenu [model]="menu" [activeItem]="menu[3]"></p-tabMenu>
    </nav>

    <!--BODY-->
    <section class="p-fluid grid px-6 py-2 col-12 flex-wrap">

        <!--Sección de datos generales-->
        <div>
            <p-card class="col-12 md:col-12">
                <div class="text-center col-12">
                    <span class="font-light text-primary text-center">DATOS GENERALES</span>
                </div>
                <form>
                    <div class="p-fluid grid col-12 md:col-12 card-content md:m-0 md:p-0 flex align-items-center">
                        <!--SUCURSAL-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-2 text-700">Sucursal</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Descripcion" autofocus>
                        </div>

                        <!--PRODUCTO-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-2 text-700">Producto</span>
                            <p-dropdown class="col" [options]="products"  placeholder="Selecciona un producto" optionLabel="name" [showClear]="true"></p-dropdown>
                        </div>

                        <!--GUÍA NRO-->
                        <div class="col-12 md:col-1 flex">
                            <span class="col-5 text-700 md:pr-4">Guía</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">
                        </div>

                        <!--ESTACIÓN-->
                        <div class="col-12 md:col-3 flex">
                            <span class="col-2 text-700 md:pr-2">Estación</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Descripcion">
                        </div>

                        <!--F. REGISTRO-->
                        <div class="col-12 md:col-2 flex">
                            <span class="col-6 text-700 md:pr-2">F. Registro</span>
                            <span class="col text-500">{{ today | date: 'dd/MM/yyyy'}}</span>
                        </div>

                        <!--F. GUÍA-->
                        <div class="col-12 md:col-2 flex">
                            <span class="col-3 text-700">F. Guía</span>
                            <p-calendar placeholder="DD-MM-AAAA"></p-calendar>
                        </div>

                        <!--ORIGEN-->
                        <div class="col-12 md:col-2 flex">
                            <span class="col-3 text-700 md:pr-5">Origen</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">
                        </div>

                        <!--DESTINO-->
                        <div class="col-12 md:col-2 flex">
                            <span class="col-3 text-700 md:pr-5">Destino</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">
                            <p-radioButton class="pl-1" name="groupname" value="val1"></p-radioButton>
                        </div>

                        <!--MANIFIESTO-->
                        <div class="col-12 md:col-1 flex-column">
                            <span class="col-3 text-700">Manifiesto</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Descripcion">
                        </div>

                        <!--RUTA-->
                        <div class="col-12 md:col-1 flex ruta-main">
                            <span class="col-3 text-700">Ruta</span>
                            <input class="col ruta__main--input" class="col-6" type="text" pInputText placeholder="Codigo">
                        </div>

                        <!--F. RUTA-->
                        <div class="col-12 md:col-2 flex ruta-child">
                            <span class="col-3 text-700">F. Ruta</span>
                            <p-calendar class="ruta__child--calendar" placeholder="DD-MM-AAAA"></p-calendar>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>

        <!--Sección de datos remitente-->
        <div class="col-12 md:col-6">
            <p-card class="col-12 md:col-6">
                <div class="text-center col-12">
                    <span class="font-light text-primary text-center">DATOS REMITENTE</span>
                </div>
                <form>
                    <div class="p-fluid grid col-12 md:col-12 card-content md:mx-6">
                        <!--CODIGO-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Código</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Descripcion">
                            <button class="col-4 b-primary text-white cursor-pointer" type="text">Crear nuevo cliente</button>
                        </div>

                        <!--SUCURSAL-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Sucursal</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Descripcion">
                            <button class="col-4 b-white-pink text-white cursor-pointer" type="text">Actualizar datos cliente</button>
                        </div>

                        <!--CONTACTO-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Contacto</span>
                            <input class="col" type="text" pInputText placeholder="Nombre Telefono">

                            <span class="col-2 text-700">Telefono</span>
                            <input class="col" type="text" pInputText placeholder="Telefono">
                        </div>
                        <!--DOCUMENTOS-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Tipo Doc</span>
                            <p-dropdown class="col pt-0 md:pt-0" [options]="typeDocuments"  placeholder="" optionLabel="name" [showClear]="true"></p-dropdown>

                            <span class="col text-700">Nro Doc</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">

                            <span class="col text-700">Cuenta Fedex</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">
                        </div>

                        <!--COMPAÑIA-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">N. Comercial</span>
                            <input class="col" type="text" pInputText placeholder="Nombre">
                        </div>

                        <!--DIRECCIÓN-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Dirección</span>
                            <input class="col" type="text" pInputText
                                placeholder="Calle + Nro + Urbanización + Distrito">
                        </div>

                        <!--Referecia - Codigo postal -->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Referencia</span>
                            <input class="col" type="text" pInputText placeholder="Referencia">

                            <span class="col-2 text-700">Cod. Post</span>
                            <input class="col" type="text" pInputText placeholder="Estado">
                        </div>

                        <!--Cuidad- País- Estado -->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Ciudad</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Pais">

                            <span class="col-2 text-700">Pais</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">

                            <span class="col-2 text-700">Estado</span>
                            <p-dropdown class="col pt-0 md:pt-0" [options]="listStatus"  placeholder="" optionLabel="name" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>

        <!--Sección de datos destinatario-->
        <div class="col-12 md:col-6">
            <p-card class="col-12 md:col-6">
                <div class="text-center col-12">
                    <span class="font-light text-primary text-center">DATOS DESTINATARIO</span>
                </div>
                <form>
                    <div class="p-fluid grid col-12 md:col-12 card-content md:mx-6">
                        <!--CODIGO-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Código</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Descripcion">
                            <button class="col-4 b-primary text-white cursor-pointer" type="text">Crear nuevo cliente</button>
                        </div>

                        <!--SUCURSAL-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Sucursal</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Descripcion">
                            <button class="col-4 b-white-pink text-white cursor-pointer" type="text">Actualizar datos cliente</button>
                        </div>

                        <!--CONTACTO-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Contacto</span>
                            <input class="col" type="text" pInputText placeholder="Nombre Telefono">

                            <span class="col-2 text-700">Telefono</span>
                            <input class="col" type="text" pInputText placeholder="Telefono">
                        </div>
                        <!--DOCUMENTOS-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Tipo Doc</span>
                            <p-dropdown class="col pt-0 md:pt-0" [options]="typeDocuments"  placeholder="" optionLabel="name" [showClear]="true"></p-dropdown>

                            <span class="col text-700">Nro Doc</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">

                            <span class="col text-700">Cuenta Fedex</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">
                        </div>

                        <!--COMPAÑIA-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">N. Comercial</span>
                            <input class="col" type="text" pInputText placeholder="Nombre">
                        </div>

                        <!--DIRECCIÓN-->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Dirección</span>
                            <input class="col" type="text" pInputText
                                placeholder="Calle + Nro + Urbanización + Distrito">
                        </div>

                        <!--Referecia - Codigo postal -->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Referencia</span>
                            <input class="col" type="text" pInputText placeholder="Referencia">

                            <span class="col-2 text-700">Cod. Post</span>
                            <input class="col" type="text" pInputText placeholder="Estado">
                        </div>

                        <!--Cuidad- País- Estado -->
                        <div class="col-12 md:col-10 flex gap-1">
                            <span class="col-2 text-700">Ciudad</span>
                            <input class="col" type="text" pInputText placeholder="Codigo + Pais">

                            <span class="col-2 text-700">Pais</span>
                            <input class="col" type="text" pInputText placeholder="Codigo">

                            <span class="col-2 text-700">Estado</span>
                            <p-dropdown class="col pt-0 md:pt-0" [options]="listStatus"  placeholder="" optionLabel="name" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>

        <!--Sección de datos paquete-->
        <div class="col-12 md:col-6">
            <p-card class="col-12 md:col-6">
                
                <div class="pb-4">
                    <h3 class="text-center my-0 font-normal">
                        <span class="text-base text-red-500 text-400">DATOS PAQUETE</span>
                    </h3>
                </div>
            
                <!-- Inputs Datos paquete -->
                <div class="p-fluid grid col-12 md:col-12 card-content md:mx-6">

                    <!--Embalaje-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">T.Embalaje
                        </span>
                        <input class="col" type="text" pInputText placeholder="Código + Descripción">
                    </div>

                    <!--Caja-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">T.Caja
                        </span>
                        <input class="col" type="text" pInputText placeholder="Código + Descripción">
                    </div>

                    <!--Paquete-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">T.Paquete
                        </span>
                        <input class="col" type="text" pInputText placeholder="Código + Descripción">
                    </div>

                    <!--# Paquetes-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700"># Paquetes</span>
                        <input class="col" type="text" pInputText placeholder="Número + Peso [kg]">
                    </div>

                    <span class="grid col-12 md:col-6 pr-0  pb-0 mb-0">

                            <!--Largo-->
                        <div class="col-12 md:col-5 flex">
                            <span class="col-5 text-700">Largo
                            </span>
                            <input class="col" type="text" pInputText placeholder="M.[cm]" pTooltip="Medida">
                        </div>

                        <!--Ancho-->
                        <div class="col-12 md:col-5 flex">
                            <span class="col-5 text-700">Ancho
                            </span>
                            <input class="col" type="text" pInputText placeholder="M.[cm]" pTooltip="Medida">
                        </div>

                        <!--Alto-->
                        <div class="col-12 md:col-5 flex">
                            <span class="col-5 text-700">Alto
                            </span>
                            <input class="col" type="text" pInputText placeholder="M.[cm]" pTooltip="Medida">
                        </div>

                        <!--Peso-->
                        <div class="col-12 md:col-5 flex">
                            <span class="col-5 text-700">Peso Vol.</span>
                            <input class="col" type="text" pInputText placeholder="P.[kg]" pTooltip="Peso">
                        </div>

                    </span>

                    <div class="field col-12 md:col-6 pt-3 flex ml-0 relative position-icon">
                        <img class="h-6rem px-2 col-12 md:col-3" src="../../../../../../../assets/img/caja2.png">
                        <span class="grid field h-6rem col-12 md:col-3">
                            <span>Xxx[Cm]</span>
                            <span>Yyy[Cm]</span>
                            <span>Zzz[Cm]</span>
                            <span>Guia# abcd</span>
                        </span>
                        <img class="h-6rem px-2 col-12 md:col-3" src="../../../../../../../assets/img/caja1.png">
                        <img class="h-6rem px-2 col-12 md:col-3" src="../../../../../../../assets/img/caja1.png">
                    </div>

                    <!--Descripción-->
                    <div class="col-12 md:col-5 flex pt-0">
                        <span class="col-4 text-700">Descripción
                        </span>
                        <input class="col" type="text" pInputText placeholder="Descripción">
                    </div>

                    <!--C.MERC-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">C.MERC.
                        </span>
                        <input class="col" type="text" pInputText placeholder="Código + Descripción">
                    </div>

                    <!--País de Fab-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">País de Fab
                        </span>
                        <input class="col" type="text" pInputText placeholder="Código + País">
                    </div>

                    <!--T.Servicio-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">T.Servicio</span>
                        <input class="col" type="text" pInputText placeholder="Código + Descripción">
                    </div>

                    <!--I/E-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">I/E
                        </span>
                        <input class="col" type="text" pInputText placeholder="Código + Descripción">
                    </div>

                    <!--T.Carga-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">T.Carga
                        </span>
                        <input class="col" type="text" pInputText placeholder="Código + Descripción">
                    </div>

                    <!--V.Transp.-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">V.Transp.
                        </span>
                        <input class="col" type="text" pInputText placeholder="[$] Monto">
                    </div>

                    <!--V.Aduana-->
                    <div class="col-12 md:col-5 flex">
                        <span class="col-4 text-700">V.Aduana</span>
                        <input class="col" type="text" pInputText placeholder="[$] Monto">
                    </div>
            
                </div>
            </p-card>
        </div>

        <!--Datos Pago -->
        <div class="col-12 md:col-6">
            <p-card class="col-12 md:col-6">
                <div class="px-5">
                
                    <div class="pb-4">
                        <h3 class="text-center my-0 font-normal">
                            <span class="text-base text-red-500 text-400">DATOS PAGO</span>
                        </h3>
                    </div>
                
                    <!-- Inputs Datos Facturacion -->
                    <div class="p-fluid grid col-12 card-content">


                        <!--Pago Transporte-->
                        <div class="col-12 md:col-8 flex">
                            <span class="col-4 text-700">Pago Transporte
                            </span>
                            <input class="col" type="text" pInputText placeholder="Código + Descripción">
                        </div>

                        <!--Cuenta-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">Cuenta
                            </span>
                            <input class="col" type="text" pInputText placeholder="Cuenta">
                        </div>

                        <!--Pago Impuestos-->
                        <div class="col-12 md:col-8 flex">
                            <span class="col-4 text-700">Pago Impuestos
                            </span>
                            <input class="col" type="text" pInputText placeholder="Código + Descripción">
                        </div>

                        <!--Cuenta-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">Cuenta</span>
                            <input class="col" type="text" pInputText placeholder="Cuenta">
                        </div>
                
                        <br>

                        <span class="col-12 md:col-12 text-red-500  py-2">*Llenar sólo en caso de que el pagador sea un tercero</span>

                        <br>

                        <!--Referencia-->
                        <div class="col-12 md:col-11 flex">
                            <span class="col-3 text-700">Referencia
                            </span>
                            <input class="col" type="text" pInputText placeholder="Código + Descripción">
                        </div>

                        
                        <!--Sucursal-->
                        <div class="col-12 md:col-11 flex">
                            <span class="col-3 text-700">Sucursal
                            </span>
                            <input class="col" type="text" pInputText placeholder="Código + Descripción">
                        </div>

                        <!--Flete-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">Flete
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        <!--Dscto-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">Dscto
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        
                        <!--FAU-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">FAU
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        <!--Fuel-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">Fuel
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        <!--Otros-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">Otros
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        <!--L.Resp.-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">L.Resp.
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        <!--IGV-->
                        <div class="col-12 md:col-4 flex">
                            <span class="col-4 text-700">IGV
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        <!--Importe TOTAL-->
                        <div class="col-12 md:col-7 flex">
                            <span class="col-3 text-700">Importe TOTAL
                            </span>
                            <input class="col" type="text" pInputText placeholder="[$ Monto]">
                        </div>

                        <div class="col-12 md:col-1 pt-0">
                            <button
                                pButton
                                class="p-button-rounded p-button-text text-500"
                                pTooltip="Registrar"
                                (click)="grabarForm()"
                            ><img class="h-2rem" src="../../../../../../../assets/img/discket.png"></button>
                        </div>
                        
                    </div>

                </div>

            </p-card>
        </div>
    </section>
</div>

<p-toast></p-toast>